<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Mapper 파일에서 사용하는 타입에 대한 단축 이름을 지정하는 설정 -->
	<typeAliases>
		<typeAlias type="com.easyauction.dto.Member" alias="Member" />
		<typeAlias type="com.easyauction.dto.Message" alias="Message" />
		<typeAlias type="com.easyauction.dto.Board" alias="Board" />
		<typeAlias type="com.easyauction.dto.BoardImage" alias="boardImage"/>
		<typeAlias type="com.easyauction.dto.Auction" alias="Auction"/>
		<typeAlias type="com.easyauction.dto.AuctionImage" alias="auctionImage"/>
		<typeAlias type="com.easyauction.dto.BoardComment" alias="boardComment"/>
		<typeAlias type="com.easyauction.dto.Bidding" alias="Bidding"/>
<!-- 	<typeAlias type="com.easyauction.dto.BoardReporting" alias="BoardReporting"/> -->
		<typeAlias type="com.easyauction.dto.MemberReporting" alias="MemberReporting"/>
		<typeAlias type="com.easyauction.dto.AuctionReporting" alias="AuctionReporting"/>
		
	</typeAliases>


	<mappers>
		<mapper resource="com/easyauction/mapper/MemberMapper.xml" />
		<mapper resource="com/easyauction/mapper/MessageMapper.xml" />
		<mapper resource="com/easyauction/mapper/BoardMapper.xml" />
		<mapper resource="com/easyauction/mapper/AuctionMapper.xml" />
		<mapper resource="com/easyauction/mapper/BiddingMapper.xml" />
		<mapper resource="com/easyauction/mapper/ReportMapper.xml" />
		<mapper resource="com/easyauction/mapper/AdminMapper.xml" />
	</mappers> 

</configuration>
