@CHARSET "utf-8";

#wrap{
	
	align:center;
	width: 960px;
	margin:0 auto;
}

#top{
	width: 960px;
	height: 180px;
}

.top_link {
	color:#626262;
	font-size:11px;
	font-family:돋움,Dotum;
}

#center_wrap{
	width:960px;
	margin:0 auto;
}

#left_wrap{
	float:left;
	margin:0 10px 0 0;
	width:216px;
}
#contents_wrap{
	width:730px;
	float:left;
}

.blank{
	margin:0 0 7px 0;
}


#footer{
	width:960px;
	float:left;
	margin:10px 0 0 0;
	background:url("/img/copyright_bg.gif") repeat-x top;
}

#copyright{
	width:960px;
	float:left;
	margin:10px 0 20px 0;
}

#viewlist{
	width:960px;
	
}


 #dealdetail{
 	width:960px;
	
 }

