@CHARSET "utf-8";

html{width:100%; height:100%;}

div{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

img{border:none;}

table{word-break:break-all; font-size:12px; color:#757575; font-family:Dotum 돋움;}

ul {
    list-style:none;
    margin:0;
    padding:0;
}
 
li {
    margin: 0 0 0 0;
    margin-left:30px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    
}
li:HOVER {
	background-color:#e5e5e5;
}





.smfont { font-size:11px; color:#5F5F5F; font-family:돋움;}

.smfont2 { font-size:11px; letter-spacing:-1px; font-family:돋움;}

.smfont3 { font-size:11px; color:#FFF; font-family:돋움;}

.smfont4 { font-size:12px; color:#CD0000; font-weight:bold; font-family:돋움;  align:absmiddle; border:0; style-margin: 0 10px 0 10px; }

.smfont5 { font-size:11px; color:#959595; font-family:돋움;}

.smfont6 { font-size:12px; font-weight:bold; color:#5F5F5F }

.smfont7 { font-size:12px; font-weight:bold; color:#5c5c5c letter-spacing:-1px;}

.smfont8 { font-size:11px; color:#303030; font-weight:bold; font-family:돋움;}

.smfont9 { font-size:12px; color:#5F5F5F; font-family:돋움;}

.smfont10 {font-size:20px; color:#FFF; letter-spacing:1px; font-weight:bold; font-family:맑은 고딕; }

#list_now_price { font-size:14pt; color:#000000; font-family:tahoma ;}
#list_start_price { color:#000000;font-weight:bold; font-family:tahoma ;}




.gonggi_box a{ font-size:11px; color:#959595; font-family:돋움; }
.gonggi_box a:link{text-decoration:none;}
.gonggi_box a:visited{text-decoration:none;}
.gonggi_box a:hover{text-decoration:none;}
.gonggi_box a:active{text-decoration:none;}



.href_link a:link{text-decoration:none;}
.href_link a:visited{text-decoration:none;}
.href_link a:hover{text-decoration:none;}
.href_link a:active{text-decoration:none;}


.main_top a{ color:#FFF; font-size:11px; letter-spacing:-1px; font-family:돋움;}
.main_top a:link{text-decoration:none;}
.main_top a:visited{text-decoration:none;}
.main_top a:hover{text-decoration:none;}
.main_top a:active{text-decoration:none;}

.main_top_menu a{font-size:15px; color:#FFF; letter-spacing:1px; font-weight:bold; font-family:맑은 고딕;}
.main_top_menu a:link{text-decoration:none;}
.main_top_menu a:visited{text-decoration:none;}
.main_top_menu a:hover{text-decoration:none;}
.main_top_menu a:active{text-decoration:none;}


.mapview {
		width:950px;
        height:400px;
        margin: 0;
        padding: 0;
        border: 3px solid;
}

.recommendview {
		width:950px;
        height:400px;
        margin: 0;
        padding: 0;
        border: 1px solid;
}

.dealdetail{
		width:950px;
        height:400px;
        margin: 0;
        padding: 0;
        border: 1px solid;
	
}

/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  zoom: 1;
  background: #a7bc7a url(images/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
  background: #9cb369 url(images/pattern.png) top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.active {
	background: #377722 url(images/pattern.png) top left repeat;
}
