<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.easyauction.mapper.ReportMapper">
  
  
   <resultMap type="AuctionReporting" id="AuctionReportResult">
		<id column="arpno" property="arpNo" />
		<result column="arpcontent" property="arpContent" />
		<result column="arpdate" property="arpDate" />
		<result column="arprepoter" property="arpRepoter" />
		<result column="arptagetno" property="arpTagetNo" />
  </resultMap>

  
  	<insert id="insertAuctionReportingByTargetNo" parameterType="AuctionReporting">
	  	<selectKey keyProperty="arpNo" order="AFTER" resultType="int" >
		  	select SEQUENCEAUCTIONREPORTINGNO.currVal from dual
		</selectKey>
		INSERT INTO auctionreporting(arpno, arptagetno, arprepoter, arpcontent)
			VALUES(SEQUENCEAUCTIONREPORTINGNO.nextVal, #{ arpTagetNo }, #{ arpRepoter }, #{ arpContent })
	</insert> 
	
  
  
  	<select id="getResultReportCheck" resultType="int" parameterType="hashMap">
  		select count(*) from auctionreporting where arprepoter = #{ mbId } and arptagetno= #{ aucNo }
  	</select>
  
  
  
  </mapper>